{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    {% if session.usertype == 'student'%} <!-- Landing page for logged in students-->
        <h2>Welcome to Aida Dance School</h2>    
        <h3>Your ongoing or upcoming courses:</h3>
        
        {% for course in users_courses %}
            <ul>
                <li>
                    <strong>{{course.name}}</strong> <br>
                    Start date: {{course.startdate}} <br>
                    End date: {{course.enddate}} <br>
                    Time: {{ course.time }} <br>
                    Duration in hours: {{course.durationhour}} <br>
                    Occurances: {{course.occurances}} <br>
                    Teacher: {{course.teacher_name}} <br>
                    {{course.room_name}} <br>
                    Price: {{course.price}} <br>
                    {% if course.startdate > today %}
                    <a href="/disenrolcourse/{{ course.id }}">Disenrol</a> <br>
                    {% endif %}
                </li>
            </ul>

        {% endfor %}
        <hr>

        <h3>All upcoming courses at Aida:</h3>
        <p>Payment is made by card or cash at the first lession.</p>

        {% for course in courses_upcoming %}
            <ul>
                <li>
                    <strong>{{course.name}}</strong> <br>
                    ID: {{ course.id }} <br>
                    Start date: {{course.startdate}} <br>
                    End date: {{course.enddate}} <br>
                    Time: {{ course.time }} <br>
                    Duration in hours: {{course.durationhour}} <br>
                    Occurances: {{course.occurances}} <br>
                    Teacher: {{course.teacher_name}} <br>
                    {{course.room_name}} <br>
                    {% if course.status == 'Full' %}
                    <div class="alert"> Status: {{course.status}} <br></div>
                    {% else %}
                    <div class="ok">Status: {{course.status}} <br></div>
                    {% endif %}
                    Price: {{course.price}} <br>
                    Price: {{course.price}} <br>
                    {% if course.status != 'Full' %}
                       <strong><a href="/enrolcourse/{{ course.id }}">Enroll</a></strong> <br>
                    {% endif %}

                </li>
            </ul>          

        {% endfor %}

    {% elif session.usertype == 'admin'%}  <!-- Landing page for logged in admin-->
    <p> <form action="/registercourse" method="POST">
        <input type="submit" value="Add Course">
        </form></p>
   
        <hr>
        <h3>Ongoing Courses</h3>
        {% for course in courses_ongoing %}
            <strong>{{course.name}}</strong> <br>
            Start date: {{course.startdate}} <br>
            Time: {{ course.time }} <br>
            Duration in hours: {{course.durationhour}} <br>
            Occurances: {{course.occurances}} <br>
            Teacher: {{course.teacher_name}} <br>
            {{course.room_name}} <br>
            Enrolled students: {{course.enrolled_students}} <br>
            {% if course.status == 'Full' %}
                <div class="alert"> Status: {{course.status}} <br></div>
            {% else %}
            <div class="ok">Status: {{course.status}} <br></div>
            {% endif %}
            Price: {{course.price}} <br>
            <strong><a href="/enrolledstudents/{{ course.id }}">Enrolled Students</a></strong> <br>
            {% if course.enrolled_students == 0 %}
                <strong><a href="/removecourse/{{ course.id }}">Remove Course</a></strong> <br> <!--Show only if course.enrolled_students null-->
            {% endif %}
            <br>
        {% endfor %}
        
        <hr>
        <h3>Upcoming Courses</h3>

        {% for course in courses_upcoming %}
            <strong>{{course.name}}</strong> <br>
            Start date: {{course.startdate}} <br>
            Time: {{ course.time }} <br>
            Duration in hours: {{course.durationhour}} <br>
            Occurances: {{course.occurances}} <br>
            Teacher: {{course.teacher_name}} <br>
            {{course.room_name}} <br>
            Enrolled students: {{course.enrolled_students}} <br>
            {% if course.status == 'Full' %}
                <div class="alert"> Status: {{course.status}} <br></div>
            {% else %}
            <div class="ok">Status: {{course.status}} <br></div>
            {% endif %}
            Price: {{course.price}} <br>
            <strong><a href="/enrolledstudents/{{ course.id }}">Enrolled Students</a></strong> <br>
            {% if course.enrolled_students == 0 %}
                <strong><a href="/removecourse/{{ course.id }}">Remove Course</a></strong> <br> <!--Show only if course.enrolled_students null-->
            {% endif %}
            <br>
        {% endfor %}

    {% else %} <!-- Landing page for NOT logged in users-->
        <h2>Welcome to Aida Dance School</h2>
        <p>We love modern jazz dance and will make our best to help you find this joy too.</p>
        <p>Join one of our classes and enjoy teaching by our world class dance teachers in a warm and welcoming athmosphere.</p> 
        <h3>Our upcoming courses</h3>
        <p>Please register in order to enrol to a course. Payment is made by card or cash at the first lession.</p>

        {% for course in courses_upcoming %}
            <hr>
            <strong>{{course.name}}</strong> <br>
            Start date: {{course.startdate}} <br>
            Time: {{ course.time }} <br>
            Duration in hours: {{course.durationhour}} <br>
            Occurances: {{course.occurances}} <br>
            Teacher: {{course.teacher_name}} <br>
            {{course.room_name}} <br>
            {% if course.status == 'Full' %}
                <div class="alert"> Status: {{course.status}} <br></div>
            {% else %}
                <div class="ok">Status: {{course.status}} <br></div>
            {% endif %}
            Price: {{course.price}} <br>
            <br>
        {% endfor %}

    {% endif %}

{% endblock %}