<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aida Dance School - {% block title %}{% endblock %}</title>
    </head>

<body>
    
    <!-- Side navigation -->
    <div class="sidenav">
        <p>
        <a href="/">Home</a>
        <br>
        {% if session.firstname %}

        <h2>Welcome {{session.firstname}}</h2>
        <form action="/logout" method="POST">
            <input type="submit" value="Sign out">
            </form>

        {% else %}

        <form action="/login" method="POST">
            <p>Username/email:<br>
            <input type="email" name="username" class="textfields" > </p>
            <p>Password:<br>
            <input type="password" name="password" class="textfields" ></p>
            <input type="submit" value="Sign in">
            </form>
        <br>    
        <form action="/register" method="POST">
            <input type="submit" value="Register as new user">
            </form>

            {% endif %}
        </p>
        
    </div>
  
  <!-- Page content -->
  <div class="main">
      <h1>Aida Dance School</h1>
    {% block content %}{% endblock %}
  </div>

    <!-- Page footer -->
    <div class="footer">
    <hr>
    <i>Aida Dance School | Dance Road 11, 00678 DANCELIFE | + 48 456 234 08 | info[at]aidadanceschool.com </i>
    <br>
    </div>

</body>
</html>
