{% extends "layout.html" %}

{% block title %}Register{% endblock %}
{% block content %}
<h2>Please fill in the information below</h2>
<form action="/adduser" method="POST">

    <p>Email:<br>
    <input type="email" name="username" maxlength="50" class="textfields" > </p>
    <p>Password:<br>
    <input type="password" name="password" required minlength="4" maxlength="99" class="textfields" ></p>
    <p>First name:<br>
    <input type="text" name="firstname" required minlength="1" maxlength="99" class="textfields" ></p>
    <p>Last name:<br>
    <input type="text" name="lastname" required minlength="1" maxlength="99" class="textfields" ></p>
    <p>Phone:<br>
    <input type="tel" name="phone" minlength="6" maxlength="50" class="textfields" ></p>
    <p>Year of birth:<br>
    <input type="number" name="bornyear" required minlength="4" max=3000 class="textfields" ></p> <!-- You need to handle when they do not insert anything!-->

    <input type="submit" value="Register">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
{% endblock %}