{% extends "layout.html" %}

{% block title %}Add course{% endblock %}
{% block content %}
<h2>Please fill in the information below</h2>
<form action="/addcourse" method="POST">
	<p>Name:
		<br>
		<input type="text" name="name" required minlength="5" maxlength="199" class="textfields">
	</p>
	<p>Start Date:
		<br>
		<input type="date" name="startdate" required class="textfields">
	</p>
	<p>End Date:
		<br>
		<input type="date" name="enddate" required class="textfields">
	</p>
	<p>Time:
		<br>
		<input type="time" name="time" required class="textfields"> </p>
	<p>Duration (hours):
		<br>
		<input type="number" name="duration" required max=10 class="textfields">
	</p>
	<p>Occurances:
		<br>
		<input type="number" name="occurances" required max=500 class="textfields"> </p>
	<p>Price (whole course):
		<br>
		<input type="number" name="price" max=10000 class="textfields">
	</p>
	<p>
		<label for="teacher">Teacher:</label>
		<br>
		<select name="teacher"> {% for teacher in teachers %}
			<option value={{teacher.id}}>{{teacher.name}}</option> {% endfor %} </select>
	</p>
	<p>
		<label for="room">Room:</label>
		<br>
		<select name="room"> {% for room in rooms %}
			<option value={{room.id}}>{{room.name}}</option> {% endfor %} </select>
	</p>
	<br>
	<input type="submit" value="Add course">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> </form>
{% endblock %}