{% extends "layout.html" %}

{% block title %}Teachers{% endblock %}

{% block content %}
<br>
<form action="/registerteacher" method="POST">
    <input type="submit" value="Add teacher">
    </form>
<h2>Our dance teachers</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Last name</th>
        <th>First name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Salary € / h</th>
    </tr>
    {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.id }} </td>
            <td>{{teacher.lastname }}</td>
            <td>{{teacher.firstname }} </td>
            <td>{{teacher.phone }} </td>
            <td>{{teacher.email }}</td>
            <td>{{teacher.hourlysalary }}</td>
        </tr>
    {% endfor %}
    
</table>

{% endblock %}