{% extends "layout.html" %}

{% block title %}My Profile{% endblock %}

{% block content %}
<h2>My Profile</h2>
<p>You find your account information below.</p>
<p>If you make updates, confirm them with your password</p>
<form action="/edituser" method="POST">
	<p>Username:
		<br>
		<input type="email" name="username" class="textfields" value={{userdata.username}} disabled="disabled"> </p>
	<p>First name:
		<br>
		<input type="text" name="firstname" required minlength="1" class="textfields" value={{userdata.firstname}}>
	</p>
	<p>Last name:
		<br>
		<input type="text" name="lastname" required minlength="1" class="textfields" value={{userdata.lastname}}>
	</p>
	<p>Phone:
		<br>
		<input type="tel" name="phone" minlength="6" class="textfields" value={{userdata.phone}}>
	</p>
	<p>Year of birth:
		<br>
		<input type="number" name="bornyear" required minlength="4" class="textfields" value={{userdata.bornyear}}>
	</p>
	<p>Password:
		<br>
		<input type="password" name="password" required class="textfields">
	</p>
	<p>New password:
		<br>
		<input type="password" name="newpassword" maxlength="99" class="textfields">
	</p>
	<input type="submit" value="Update info">
	<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"> </form>
<br> {% if session.usertype == 'student'%}
<p>If you want to remove your Aida Dance School account, please click below.
	<br> OBS! This is permanent!</p> <a href="/removeuser" onclick="return confirm('Are you sure you want to delete your account?');">Remove my account</a> {% endif %}
<br>

{% endblock %}